#profiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#fcc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#github-profile {
    grid-column: 1/2;
}

#fcc-profile {
    grid-column: 2/3;
}

.profile-tile{
    width: 200px;
    height: auto;
}

.profile-tile:hover{
    opacity: 0.5;
    transition: .5s ease;
}

.fcc-tile{
    width: 300px;
    margin: 10px;
    height: auto;
}

.fcc-tile:hover{
    opacity: 0.5;
    transition: .5s ease;
}

.form-control{
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
}

#botton-shadow {
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
 }

#botton-shadow:hover {
    -moz-box-shadow:    inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow:         inset 0 0 1px #000000;
 }


@media (max-width: 650px) {
    

}